<div class="container-fluid">
	<div class="w-15">
		<app-history (messageEvent)="receiveMessage($event)" [message]="message">
		</app-history>
	</div>

	<div class="w-70">
		<div class="text-center mt-5">
			<img src="../../..//assets/logo.png" class="img-fluid" alt="Responsive image">
		</div>

		<form (submit)="onSubmit($event)" class="mt-4 mr-3">

			<label class="ml-2 mr-sm-2">Mot à rechercher</label>
			<input type="text" id="mot" class="form-control mb-2 mr-sm-2 ml-2 mr-2" />

			<div class="recherche-avancee" id="to-hide" hidden>
				<label class="ml-2 mr-sm-2">Identifiant relation</label>
				<select id="id_relation" class="form-control mb-2 mr-sm-2 ml-2 mr-2">
					<option value="">Please choose a relation</option>
					<option value="0">0 : r_associated</option>
					<option value="1">1 : r_raff_sem</option>
					<option value="2">2 : r_raff_morpho</option>
					<option value="3">3 : r_domain</option>
					<option value="4">4 : r_pos</option>
					<option value="5">5 : r_syn</option>
					<option value="6">6 : r_isa</option>
					<option value="7">7 : r_anto</option>
					<option value="8">8 : r_hypo</option>
					<option value="9">9 : r_has_part</option>
					<option value="10">10 : r_holo</option>
					<option value="11">11 : r_locution</option>
					<option value="12">12 : r_flpot</option>
					<option value="13">13 : r_agent</option>
					<option value="14">14 : r_patient</option>
					<option value="15">15 : r_lieu</option>
					<option value="16">16 : r_instr</option>
					<option value="17">17 : r_carac</option>
					<option value="18">18 : r_data</option>
					<option value="19">19 : r_lemma</option>
					<option value="20">20 : r_has_magn</option>
					<option value="21">21 : r_has_antimagn</option>
					<option value="22">22 : r_family</option>
					<option value="23">23 : r_carac-1</option>
					<option value="24">24 : r_agent-1</option>
					<option value="25">25 : r_instr-1</option>
					<option value="26">26 : r_patient-1</option>
					<option value="27">27 : r_domain-1</option>
					<option value="28">28 : r_lieu-1</option>
					<option value="29">29 : r_chunk_pred</option>
					<option value="30">30 : r_lieu_action</option>
					<option value="31">31 : r_action_lieu</option>
					<option value="32">32 : r_sentiment</option>
					<option value="33">33 : r_error</option>
					<option value="34">34 : r_manner</option>
					<option value="35">35 : r_meaning/glose</option>
					<option value="36">36 : r_infopot</option>
					<option value="37">37 : r_telic_role</option>
					<option value="38">38 : r_agentif_role</option>
					<option value="39">39 : r_verbe-action</option>
					<option value="40">40 : r_action-verbe</option>
					<option value="41">41 : r_conseq</option>
					<option value="42">42 : r_causatif</option>
					<option value="43">43 : r_adj-verbe</option>
					<option value="44">44 : r_verbe-adj</option>
					<option value="45">45 : r_chunk_sujet</option>
					<option value="46">46 : r_chunk_objet</option>
					<option value="47">47 : r_chunk_loc</option>
					<option value="48">48 : r_chunk_instr</option>
					<option value="49">49 : r_time</option>
					<option value="50">50 : r_object>mater</option>
					<option value="51">51 : r_mater>object</option>
					<option value="52">52 : r_successeur-time</option>
					<option value="53">53 : r_make</option>
					<option value="54">54 : r_product_of</option>
					<option value="55">55 : r_against</option>
					<option value="56">56 : r_against-1</option>
					<option value="57">57 : r_implication</option>
					<option value="58">58 : r_quantificateur</option>
					<option value="59">59 : r_masc</option>
					<option value="60">60 : r_fem</option>
					<option value="61">61 : r_equiv</option>
					<option value="62">62 : r_manner-1</option>
					<option value="63">63 : r_agentive_implication</option>
					<option value="64">64 : r_has_instance</option>
					<option value="65">65 : r_verb_real</option>
					<option value="66">66 : r_chunk_head</option>
					<option value="67">67 : r_similar</option>
					<option value="68">68 : r_set>item</option>
					<option value="69">69 : r_item>set</option>
					<option value="70">70 : r_processus>agent</option>
					<option value="71">71 : r_variante</option>
					<option value="72">72 : r_syn_strict</option>
					<option value="73">73 : r_is_smaller_than</option>
					<option value="74">74 : r_is_bigger_than</option>
					<option value="75">75 : r_accomp</option>
					<option value="76">76 : r_processus>patient</option>
					<option value="77">77 : r_verb_ppas</option>
					<option value="78">78 : r_cohypo</option>
					<option value="79">79 : r_verb_ppre</option>
					<option value="80">80 : r_processus>instr</option>
					<option value="81">81 : r_pref_form</option>
					<option value="99">99 : r_der_morpho</option>
					<option value="100">100 : r_has_auteur</option>
					<option value="101">101 : r_has_personnage</option>
					<option value="102">102 : r_can_eat</option>
					<option value="103">103 : r_has_actors</option>
					<option value="104">104 : r_deplac_mode</option>
					<option value="105">105 : r_has_interpret</option>
					<option value="106">106 : r_color</option>
					<option value="107">107 : r_cible</option>
					<option value="108">108 : r_symptomes</option>
					<option value="109">109 : r_predecesseur-time</option>
					<option value="110">110 : r_diagnostique</option>
					<option value="111">111 : r_predecesseur-space</option>
					<option value="112">112 : r_successeur-space</option>
					<option value="113">113 : r_social_tie</option>
					<option value="114">114 : r_tributary</option>
					<option value="115">115 : r_sentiment-1</option>
					<option value="116">116 : r_linked-with</option>
					<option value="117">117 : r_foncteur</option>
					<option value="118">118 : r_comparison</option>
					<option value="119">119 : r_but</option>
					<option value="120">120 : r_but-1</option>
					<option value="121">121 : r_own</option>
					<option value="122">122 : r_own-1</option>
					<option value="123">123 : r_verb_aux</option>
					<option value="124">124 : r_predecesseur-logic</option>
					<option value="125">125 : r_successeur-logic</option>
					<option value="126">126 : r_isa-incompatible</option>
					<option value="127">127 : r_incompatible</option>
					<option value="128">128 : r_node2relnode</option>
					<option value="129">129 : r_require</option>
					<option value="130">130 : r_is_instance_of</option>
					<option value="131">131 : r_is_concerned_by</option>
					<option value="132">132 : r_symptomes-1</option>
					<option value="133">133 : r_units</option>
					<option value="134">134 : r_promote</option>
					<option value="135">135 : r_circumstances</option>
					<option value="136">136 : r_has_auteur-1</option>
					<option value="137">137 : r_processus>agent-1</option>
					<option value="138">138 : r_processus>patient-1</option>
					<option value="139">139 : r_processus>instr-1</option>
					<option value="148">148 : r_pourvoyeur</option>
					<option value="149">149 : r_compl_agent</option>
					<option value="150">150 : r_beneficiaire</option>
					<option value="151">151 : r_descend_de</option>
					<option value="152">152 : r_domain_subst</option>
					<option value="153">153 : r_prop</option>
					<option value="154">154 : r_activ_voice</option>
					<option value="155">155 : r_make_use_of</option>
					<option value="156">156 : r_is_used_by</option>
					<option value="157">157 : r_adj-nomprop</option>
					<option value="158">158 : r_nomprop-adj</option>
					<option value="159">159 : r_adj-adv</option>
					<option value="160">160 : r_adv-adj</option>
					<option value="161">161 : r_homophone</option>
					<option value="162">162 : r_potential_confusion</option>
					<option value="163">163 : r_concerning</option>
					<option value="164">164 : r_adj>nom</option>
					<option value="165">165 : r_nom>adj</option>
					<option value="166">166 : r_opinion_of</option>
					<option value="200">200 : r_context</option>
					<option value="222">222 : r_pos_seq</option>
					<option value="333">333 : r_translation</option>
					<option value="444">444 : r_link</option>
					<option value="555">555 : r_cooccurrence</option>
					<option value="666">666 : r_aki</option>
					<option value="777">777 : r_wiki</option>
					<option value="997">997 : r_annotation_exception</option>
					<option value="998">998 : r_annotation</option>
					<option value="999">999 : r_inhib</option>
					<option value="1000">1000 : r_prev</option>
					<option value="1001">1001 : r_succ</option>
					<option value="1002">1002 : r_termgroup</option>
					<option value="2000">2000 : r_raff_sem-1</option>
					<option value="2001">2001 : r_learning_model</option>
				</select>

				<div class="row">
					<div class="col-md-6">
						<div class="form-check mb-2 mr-sm-2">
							<label class="form-check-label ml-2 mr-2">
								<input id="no_relin" name="no_relin" type="checkbox" class="form-check-input" value=""
									(change)="noRelIn($event)">
								Relations sortantes uniquement
							</label>
						</div>
						<div class="form-check mb-2 mr-sm-2">
							<label class="form-check-label ml-2 mr-2">
								<input id="no_relout" name="no_relout" type="checkbox" class="form-check-input" value=""
									(change)="noRelOut($event)">
								Relations entrantes uniquement
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<button type="submit" class="btn btn-primary mb-2 ml-2 mr-1">
					<i class="fa fa-search "></i>
					Rechercher
				</button>
				<button (click)="hide($event)" class="btn btn-primary mb-2 ml-2 mr-1">
					Recherche avancée
				</button>
			</div>
		</form>
		<div class="container">
			<app-result (messageEvent)="receiveMessage($event)" [message]="message" [no_relout]="no_relout"
				[relation]="relation" [no_relin]="no_relin" *ngIf="message">
			</app-result>
		</div>
	</div>

	<div class="w-15">
		<app-suggestion (messageEvent)="receiveMessage($event)" [message]="message">
		</app-suggestion>
	</div>
</div>